---
---
<div class="content">
<div class="columns is-hidden-mobile p-0 mb-0">
  <div class="column mt-0 pt-5 pr-0 pl-0 is-12 has-text-centered">
    <h1 class="title is-5">Full Stack JavaScript Developer</h1>
    <h2 class="subtitle is-6">specialised on Vue 3 (MEVN Stack)</h2>
    <div class="columns is-centered pr-0 pl-0 pt-5 mb-5 mb-0">
      <div class="column mt-0 pr-0 pl-0 pt-5 is-2 has-text-centered">
        <p class=""><b>Frontend</b></p>
        <p>Vanilla JavaScript</p>
        <p>SCSS</p>
        <p>Vue 3</p>
        <p>Astro</p>
        <p>Three.js</p>
      </div>
      <div class="column mt-0 pr-0 pl-0 pt-5 is-2 has-text-centered">
        <p class=""><b>Backend</b></p>
        <p>Node.js</p>
        <p>Express</p>
        <p>MongoDB</p>
        <p>REST/GraphQL</p>
      </div>
      <div class="column mt-0 pr-0 pl-0 pt-5 is-2 has-text-centered">
        <p class=""><b>DevOps & Miscellaneous</b></p>
        <p>Git</p>
        <p>Docker</p>
        <p>ML (brain.js)</p>
        <p>Heroku/Firebase</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="columns is-hidden-tablet p-0 mb-0 mt-5 pt-5">
  <div class="column pt-5 pr-0 pl-0 is-12 has-text-centered">
    <p><b>Full Stack JavaScript Developer</b></p>
    <div class="columns is-centered pr-0 pl-0 pt-1 mt-0 mb-5 mb-0 is-mobile">
      <div class="column mt-0 pr-0 pl-0 pt-5 is-4 has-text-centered">
        <p><b>Frontend</b></p>
        <p>Vanilla JavaScript</p>
        <p>SCSS</p>
        <p>Vue 3</p>
        <p>Astro</p>
      </div>
      <div class="column mt-0 pr-0 pl-0 pt-5 is-4 has-text-centered">
        <p><b>Backend</b></p>
        <p>Node.js</p>
        <p>Express</p>
        <p>MongoDB</p>
        <p>REST/GraphQL</p>
      </div>
      </div>
      <div class="columns is-centered pr-0 pl-0 pt-5 mb-5 mb-0">
      <div class="column mt-0 pr-0 pl-0 pt-0 is-2 has-text-centered">
        <p><b>DevOps & Miscellaneous</b></p>
        <p>Git</p>
        <p>Docker</p>
        <p>ML (brain.js)</p>
        <p>Heroku/Firebase</p>
      </div>
      </div>
    </div>
</div>

<style>
.subtitle {
  color: #ffffff;
}

p {
  margin: 0 !important;
}
</style>