---
// Footer for all Pages Except Parallax
---

<div id="footer" class="columns is-centered m-0">
  <div class="column has-text-centered is-narrow">
    <a class="brand-lavendar" href="/imprint">Imprint</a
    ><span class="brand-lavendar"> | </span
    ><a class="brand-lavendar" href="/privacy"
      >Data Protection</a
    >
  </div>
</div>

<style>
  #footer {
    width: 100%;
  }
a:hover {
    color: hsla(171, 70%, 51%);
  }
</style>
